section{
    color: honeydew;
}

#mundo {
    color: rgb(242, 159, 159);
}

.mundo01 {
    color: black;
}

.card__title {
    color: yellowgreen;
}

.card__button {
    border: none;
    border-radius: 2px;
    color:white;
    cursor: pointer;
    width: 80px;
}

.card__button--primary{
    background-color: chartreuse;
    color: black;
}

.card__button--danger{
    background-color: red;
}

p{
    color: rgb(203, 4, 190);
    font-size: 28px;
    font-family: Verdana;
    font-weight: bold;
    text-align: center;
}

.section01 {
    height: 250px;
    padding: 20px;
    margin:100px;
    border: white 1px solid;


    background-color: aliceblue;
    background-image: url(https://www.floristeriamorris.com/wp-content/uploads/Descifrando-el-significado-de-las-rosas-azules.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

img{
    width: 20%;
    border: rgb(242, 163, 163) 10px solid;
    border-radius: 50%;
}