section{
    color: honeydew;
}

#mundo {
    color: rgb(242, 159, 159);
}

.mundo01 {
    color: black;
}

.card__title {
    color: yellowgreen;
}

.card__button {
    border: none;
    border-radius: 2px;
    color:white;
    cursor: pointer;
    width: 80px;
}

.card__button--primary{
    background-color: chartreuse;
    color: black;
}

.card__button--danger{
    background-color: red;
}

p{
    color: rgb(9, 85, 52);
    font-size: 28px;
    font-family: Verdana;
    font-weight: bold;
    text-align: center;
}

.section {
    height: 250px;
    padding: 20px;
    margin:100px;
    border: white 1px solid;


    background-color: aliceblue;
    background-image: url(https://www.google.com/imgres?q=rosa%20azul%20jpg&imgurl=https%3A%2F%2Fcdn.pixabay.com%2Fphoto%2F2013%2F07%2F21%2F13%2F00%2Frose-165819_640.jpg&imgrefurl=https%3A%2F%2Fpixabay.com%2Fes%2Fimages%2Fsearch%2Frosa%2520azul%2F&docid=WF-edzQXdnOFTM&tbnid=iXDtLefYqG4q6M&vet=12ahUKEwjt75jU-e6SAxUD5MkDHXKqDJgQnPAOegQIYxAB..i&w=640&h=424&hcb=2&ved=2ahUKEwjt75jU-e6SAxUD5MkDHXKqDJgQnPAOegQIYxAB);
    background-position: center;
    background-repeat: no-repeat;
}

img{
    width: 20%;
    border: rgb(242, 163, 163) 10px solid;
    border-radius: 50%;
}